@media (prefers-color-scheme: light) {
    :root {
        --background-chip: rgb(234, 134, 134);
        --color-text: rgb(234, 234, 234);
    }

    .horizontalRule {
        background-color: var(--background-chip);
    }

    .chip {
        background-color: var(--background-chip);
        color: var(--color-text);
        transition: box-shadow 0.5s ease;
    }

    .chip:hover {
        animation-delay: 40ms;
        box-shadow: 0 0 20px rgba(255, 40, 40, 0.658);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-chip: rgb(134, 234, 134);
        --color-text: rgb(34, 34, 34);
    }

    .horizontalRule {
        background: linear-gradient(to right, rgba(0,0,0,0),var(--background-chip), rgba(0,0,0,0));
        
    }

    .chip {
        background-color: var(--background-chip);
        color: var(--color-text);
        transition: box-shadow 0.5s ease;
    }

    .chip:hover {
        animation-delay: 40ms;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    }
}


.component {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.horizontalRule {
    border: 0;
    height: 2px;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.chip {
    position: absolute;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}