@media (prefers-color-scheme: light){
    :root{
        --background: rgb(34, 34, 34);
        --heading: rgb(34, 34, 34);
    }

    html, body{
        background-color: rgb(234, 234, 234);
    }

    .intro{
        color: rgb(34, 34, 34);
    }
    .heading{
        color: var(--heading);
    }
    .body{
        color: rgb(34, 34, 34);
    }
}

@media (prefers-color-scheme: dark){
    :root{
        --background: rgb(34, 34, 34);
        --heading: rgb(124, 234, 124);
    }

    html, body{
        background-color: rgb(34, 34, 34);
    }

    .intro{
        color: rgb(255, 255, 255);
    }
    .heading{
        color: var(--heading);
    } 
    .body{
        color: rgb(255, 255, 255);
    }
}