[data-theme="light"] {
    --background: rgb(234, 234, 234);
    --heading: rgb(34, 34, 34);
}

[data-theme="dark"] {
    --background: rgb(34, 34, 34);
    --heading: rgb(124, 234, 124);
}

html, body {
    background-color: var(--background);
    transition: background-color 0.3s ease;
}

[data-theme="light"] .intro,
[data-theme="light"] .body {
    color: rgb(34, 34, 34);
}

[data-theme="dark"] .intro,
[data-theme="dark"] .body {
    color: rgb(255, 255, 255);
}

.heading {
    color: var(--heading);
}